<h2 class="center">Course Data for <%= course.name %></h2>
<table class="table">
    <tbody>
        <tr>
            <td>Title</td>
            <td>
                <%= course.title %>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <%= course.description %>
            </td>
        </tr>
    </tbody>
</table>